version: '3.8'

services:
  authservice.api:
    image: 164612576049.dkr.ecr.eu-north-1.amazonaws.com/authserviceapi:latest
    env_file:
      - /home/ubuntu/.env
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - postgress_db
      - redis

  postgress_db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - /home/ubuntu/.env

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
