version: '3.4'

services:
  authservice.api:
    image: ${DOCKER_REGISTRY-}authserviceapi
    build:
      context: .
      dockerfile: services/AuthService/AuthService.API/Dockerfile
    depends_on:
      - postgress_db
      - redis
    env_file:
      - .env
  postgress_db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
     image: redis
     volumes:
       - redis_data:/data
volumes:
   postgres_data:
   redis_data:

